/* Základné nastavenia */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #2d2d2d; !* tmavé pozadie *!*/
    background: linear-gradient(to bottom, #1a1a1a, #333333, #4d4d4d);
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.site-header {
    background-image: url('/images/bg1.jpg');
    background-size: cover; /* Obrázok sa automaticky prispôsobí veľkosti headeru */
    background-position: center;
    background-repeat: no-repeat; /* Zabezpečí, že obrázok sa neopakuje */
    padding: 30px;
    position: relative;
    z-index: 1;
}

/* Flexbox pre horizontálne usporiadanie */
.header-content {
    display: flex;
    /*justify-content: space-between; !* Priestor medzi prvkami *!*/
    align-items: center; /* Zarovná prvky vertikálne do stredu */
    max-width: 1200px;
    /*margin: 0 auto; !* Center the header content *!*/
    /*flex-wrap: wrap; !* Allow wrapping on smaller screens *!*/
}

/* Logo */
.logo {
    height: 80px; /* Nastaví výšku loga */
    width: auto; /* Zachová pomer strán loga */
    margin-right: 20px;
}

/* Nadpis */
.site-title {
    font-family: 'Cinzel', serif; /* DnD fantasy font */
    color: #ff4500;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 0; /* Odstrániť okraje okolo nadpisu */
}

/* Navigačné odkazy */
.nav-links {
    margin-left: 0; /* Posunie navigačné odkazy na pravú stranu */
}

.nav-links ul {
    list-style: none; /* Odstráni bodky z zoznamu */
    display: flex; /* Umožňuje horizontálne zobrazenie */
    margin-right: 75px;
    padding: 10px;
}

.nav-links li {
    margin: 0 15px; /* Pridá medzeru medzi položkami */
}

.nav-links a {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    text-decoration: none; /* Odstráni podčiarknutie */
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #fff; /* Zmena farby pri hover */
}


/* Login odkaz */
.login-link {
    font-family: 'Cinzel', serif; /* Zhodný font */
    color: #ff4500;
    font-size: 1.2em;
    text-decoration: underline; /* Odstrániť podčiarknutie */
    position: absolute; /* Absolútna pozícia */
    right: 50px; /* Umiestnenie 20px od pravého okraja */
    top: 50%; /* Vertikálne centrovanie */
    transform: translateY(-50%); /* Úprava pozície na vertikálne centrovanie */
    transition: color 0.3s ease; /* Animácia zmeny farby */
}

.login-link:hover {
    color: #fff; /* Zmení farbu pri hover */
}

/* Hlavný obsah */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Prvky sa teraz budú umiestňovať pod seba */
    justify-content: normal;
    align-items: normal;
    text-align: center;
    padding: 20px;
}

.page-subtitle {
    font-size: 2.5em;
    color: #ff4500;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Nadpis a popis */
.welcome-title {
    font-size: 2.5em;
    color: #ff4500;
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.intro p {
    font-size: 1.2em;
    color: #dcdcdc;
    max-width: 700px;
    text-align: center;
    margin: 0 auto 40px;
    /*margin: 0 auto 50px; !* Tento margin vytvorí medzeru medzi textom a kartami *!*/
}

.build-option {
    font-size: 1.5em;
    color: #ff4500;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Sekcia s kartami */
.card-selection {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    /*margin-top: 500px; !* Medzera medzi intro a kartami *!*/
}

/* Štýl kariet */
.card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    height: auto;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

/* Obrázok na karte */
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Prispôsobenie veľkosti obrázka */
}

/* Text pod obrázkom */
.card-text {
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: #ff4500;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

/* Responzívny dizajn pre karty */
@media (max-width: 768px) {
    .card-selection {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1a1a1a;
    color: #888;
}

/* Login box */
.login-box {
    background-color: rgba(0, 0, 0, 0.8); /* Polopriehľadné tmavé pozadie */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    margin: 50px auto 20px;
    text-align: center;
}

.login-box h2 {
    font-family: 'Cinzel', serif; /* DnD fantasy font */
    color: #ff4500;
    font-size: 2em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 1.2em;
    color: #f0f0f0;
    margin-bottom: 8px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 0 10px #ff4500; /* Efekt pri zaostrení */
}

/* Tlačidlo */
.btn-submit {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff4500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #ff6347;
    transform: scale(1.05);
}

.register-link {
    margin-top: 15px;
    font-size: 1em;
    color: #f0f0f0;
}

.register-link a {
    color: #ff4500;
    text-decoration: underline;
}

/* Classes page styles */
.class-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between class items */
    margin-top: 20px;
}

.class-item {
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items at the start */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Light background for class items */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.class-symbol {
    flex-shrink: 0.25; /* Prevent shrinking */
    margin-right: 15px; /* Space between symbol and text */
}

.class-symbol img {
    width: 60%; /* Set width for symbols */
    height: auto; /* Maintain aspect ratio */
}

.class-details h3 {
    margin-bottom: 5px;
}

.class-details h3 a {
    font-family: 'Cinzel', serif; /* Zhodný font */
    color: #ff4500;
    font-size: 1.5em;
    text-decoration: underline; /* Odstrániť podčiarknutie */
    transform: translateY(-50%); /* Úprava pozície na vertikálne centrovanie */
    transition: color 0.3s ease; /* Animácia zmeny farby */
}

.class-details h3 a:hover {
    color: #fff; /* Change color on hover */
}

/* Prevent visited links from changing color */
.class-list a:visited {
    color: #ff4500; /* Same color for visited links */
}

.class-list a:hover {
    color: #fff; /* Change color on hover */
}

.class-description {
    font-size: 1em;
    margin-bottom: 10px;
    color: #dcdcdc; /* Light text color */
}

.subclass-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
}

.subclass-list li {
    margin: 5px 0; /* Space between subclasses */
}

.subclass-list a {
    color: #ff4500; /* Color for subclass links */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
}

.subclass-list a:hover {
    color: #fff; /* Change color on hover */
}

/* Table Styles */
.spell-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.spell-table th, .spell-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
    color: #ddd;
    font-family: 'Cinzel', serif;
}

.spell-table th {
    background-color: #222;
    color: #ff4500;
    font-weight: bold;
}

.spell-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Light alternating row color */
}

.spell-table a {
    color: #ff4500;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.spell-table a:hover {
    color: #fff;
}

.spell-table td {
    font-size: 1em;
}

.spell-table td:first-child {
    font-weight: bold;
    font-size: 1.1em;
}


/* Responzívny dizajn */
@media (max-width: 768px) {
    .site-title {
        font-size: 2.5em;
    }

    .intro p {
        font-size: 1em;
    }

    .btn-start {
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .site-title {
        font-size: 1.8em;
    }

    .login-link {
        font-size: 1em;
    }

    .logo {
        height: 60px;
    }
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Stack elements vertically */
        align-items: flex-start; /* Align items to the left */
    }

    .site-title {
        margin: 10px 0; /* Add margin for spacing */
    }

    .nav-links ul {
        display: flex;
        flex-direction: column; /* Stack nav items vertically */
        margin: 10px 0; /* Add margin for spacing */
    }

    .nav-links li {
        margin: 5px 0; /* Reduce margin for vertical spacing */
    }
}