.site-header {
    flex-wrap: wrap;
    background-image: url('../images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}


.header-content {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo */
.logo {
    height: 80px;
    margin-right: 20px;
}

/* Nadpis */
.site-title {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin-right: 20px;
}


.nav-links {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 15px; /* Medzera medzi linkami */
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.user-control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
}

.nav-links a:hover {
    color: #fff;
}

.login-link {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    font-size: 1.2em;
    text-decoration: underline;
    position: relative;
    transform: translateY(-50%);
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #fff;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 100px; /* Posunie user-info doprava */
}

.welcome-message {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    font-size: 1.2em;
}

.logout-link {
    font-family: 'Cinzel', serif;
    color: #ff4500;
    font-size: 1.2em;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.logout-link:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .site-header {
      flex-direction: column; /* Zmení rozloženie headeru na stĺpcové */
      align-items: center;
    }
  
    .nav-links ul {
      flex-direction: column; /* Zobrazí navigáciu v stĺpci */
      align-items: center;
    }
  
    .character-sheet {
      grid-template-columns: 1fr; /* Zabezpečí, že sa obsah zobrazí vertikálne */
    }
  
    .save-button, .back-button {
      width: 100%; /* Tlačidlá budú široké ako obrazovka */
      font-size: 1.2em;
    }
  }