/* html, body {
    min-height: 100%;
    margin: 0;
  }

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #333333, #4d4d4d);
    display: flex;
    flex-direction: column;
} */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #1a1a1a, #333333, #4d4d4d);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  padding: 10px;
}